*{
    font-family: 'Source Code Pro', monospace;
}
/* Header Section */
.header-part{
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;

}

/* Navbar Section */
.banner-part{
    /* background-image: url(../images/footer.png); */
    background-color: #f9f9fb;
    
}

/* NavBar Another Part */
.nav-sec-part{
    margin-top: 50px;
   
    padding-bottom: 70px;
   
}
.na-h1{
    font-weight: bold;
}

/* Content */
.content-part{
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-title{
    font-weight: bold;
}
.content-p{
    color: rgba(0, 0, 0, 0.555);
}

/* Instructor Part */

.ins-part{
    background-color: #f9f9fb;
    margin-bottom: 50px;
    margin-top: 70px;
}
.ins-letter-part{
    margin-top: 100px;
}

/* Feedback Part */
.star{
    color: orange;
}
.feedback-part{
margin-top: 70px;
margin-bottom: 70px;
}

/* Blog */

.blog-part{
    margin-top: 150px;
    margin-bottom: 90px;
    padding-bottom: 30px;
    background-color: #f9f9fb;
}